 // Bourbon & Neat
@import '../bower_components/bourbon/dist/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// TYPOGRAPHY ////////////////////////////////////////////////////////////
//HEADLINES
h1, h2, h3, h4, h5, h6 {
	font-family: "adelle",serif;
	font-style: normal;
	font-weight: 400;
	color: #006666;
}
//BODY COPY
p {
	font-family: "lft-etica",sans-serif;
	font-style: normal;
	font-weight: 200;
}

$header-color: #006666;
$buttons: #008584;
$text-color: #ccc;
// HEADER ////////////////////////////////////////////////////////////////
.main-header-div {
  background: $header-color;;
}

.main-header {
  width: 80%;
  margin-left: 10%;
  padding: 20px 0;
}
// COLORS ////////////////////////////////////////////////////////////////
body { background-color: #f5f5f5; }
//$color:	#373F4B;		// rgb (55, 63, 75)

// LOGIN PAGE STYLING ////////////////////////////////////////////////////

//===========================================================
// SET LANGUAGE PAGE
//===========================================================

.set-lang-container {
  width: 85%;
  height: 1000px;
  margin: 0 auto;
}

.set-lang-header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
}

.list-choice {
  width: 470px;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
}

.list-choice input[type="radio"]{
  position: absolute;
  left: -9999px;
}

.list-choice-title {
  width: 100%;
  height:60px;
  display: block;
  background: #D8D8D8;
  text-align: center;
  padding: .55em 1em;
  box-sizing: border-box;
  color: $header-color;
  font-family: "lft-etica",sans-serif;
  font-style: normal;
  text-shadow: 0 1px 0 #CACACA;
  border-radius: 0.2em;
  font-size: 25px;
  margin: 1em 0;
}

.list-choice:hover .list-choice-title {
  border-radius:0.2em 0.2em 0 0;
}

.list-choice-objects label:nth-last-of-type(1) span{
  border-radius: 0 0 0.2em 0.2em;
}

.list-choice input[type="radio"] + span {
  color: #FFF;
  background: #D8D8D8;
  padding: .55em 1em;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  height: 60px;
  font-size: 25px;
  color: $header-color;
  font-family: "lft-etica",sans-serif;
  font-style: normal;
  border-top: solid gray 1px;
}

.list-choice-objects {
  position: absolute;
  top: 0;
  padding-top: 3.75em;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 250ms ease;

}

.list-choice:hover .list-choice-objects  input[type="radio"] + span {
  position: relative;
  top: 0;
  transition: all 250ms ease-in-out;
}

.list-choice:hover input[type="radio"] + span:hover {
  background:#BBB;
}

.list-choice:hover input[type="radio"]:checked + span:hover {
  background: $header-color;
}

.list-choice input[type="radio"]:checked + span {
  //background: #74D68E;
  position: absolute;
  top: 0em;
  border-radius: 0.2em;
  background: $header-color;
  color: white;

}

.list-choice:hover input[type="radio"]:checked + span {
  border-radius: 0;
}

.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked + span{
  border-radius: 0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
  max-height: 540px;
}

#native-language {
  z-index: 15;
}

#second-language {
  z-index: 14;
}

#second-language-prof {
  z-index: 13;
}

#third-language {
  z-index: 12;
}

#third-language-prof {
  z-index: 11;
}

.set-lang-divider {
  width: 300px;
  border: solid gray 1px;
  margin: 1em auto;
}

//============================================================
// ABOUT ME PAGE
//=============================================================

.about-me-container {
  width: 85%;
  height: 1500px;
  margin: 0 auto;
}

.about-me-header h1 {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  font-size: 60px;
}

.add-image {
  margin: 0 auto;
  width: 20%;
  height: 17%;
  border: solid black 2px;
  border-radius: 50%;
}

.add-image div {
  font-size: 30px;
  color: gray;
  text-align: center;
  margin-top: 46%;
  font-family: "lft-etica",sans-serif;
}

.add-image-a {
  text-decoration: none;
}

.info-inputs {
  width: 50%;
  margin: 8% auto;
}

.name-input {
  width: 100%;
  height: 50px;
  margin-bottom: 10%;
  outline: none;
  font-size: 20px;
  color: $text-color;
  border-radius: 4px;
  border: solid gray 2px;
  padding-left: 5px;
}

::-webkit-input-placeholder {
  color: $text-color;
  font-size: 20px;
  font-weight: lighter;
}

.age-input {
  width: 45%;
  height: 50px;
  margin-right: 9%;
  outline: none;
  font-size: 20px;
  color: $text-color;
  border-radius: 4px;
  border: solid gray 2px;
  padding-left: 5px;
}

.gender-input {
  width: 45%;
  height: 50px;
  outline: none;
  font-size: 20px;
  color: $text-color;
  border-radius: 4px;
  border: solid gray 2px;
  padding-left: 5px;
}

.about-me-div {
  width: 50%;
  margin: 0 auto;
  height: 14%;
}

.about-me-div h1 {
  text-align: center;
}

.about-me-div textarea {
  width: 100%;
  height: 150px;
  outline: none;
  padding: 5px 0 0 5px;
  border: solid gray 2px;
  border-radius: 4px;
}

.my-lang-div {
  width: 50%;
  margin: 0 auto;
}

.my-lang-div h1 {
  text-align: center;
  margin-top: 50px;
}

.each-lang {
  display: inline-block;
  width: 45%;
  height: 120px;
  margin-right: 9%;
  list-style: none;
  padding: 0 3px;
  font-family: "lft-etica",sans-serif;
}

.each-lang li {
  border-bottom: solid gray 1px;
  height: 40px;
  font-size: 25px;
  font-family: "lft-etica",sans-serif;
}

.each-prof {
  padding: 0 3px;
  display: inline-block;
  width: 45%;
  height: 120px;
  list-style: none;
}

.each-prof li {
  border-bottom: solid gray 1px;
  height: 40px;
  font-size: 25px;
  font-family: "lft-etica",sans-serif;
}

.about-me-done {
  width: 30%;
  height: 100px;
  margin: 50px auto;

}

.about-me-done button {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: solid $buttons 3px;
  box-shadow: 6px 5px 0 black;
  outline: 0;
  background: $buttons;
  font-size: 30px;
  color: white;
}

.about-me-done span {
  float: right;
}

.about-me-done button:hover {
  background: $buttons;
  cursor: pointer;
  opacity: .7;
}

.about-me-done button:active {
  margin: 5px 0 0 4px;
  box-shadow: 1px 1px 2px gray;
  outline: 0;
  border: solid black 3px;
}

.nonAvatar {
	display: inline-block;
	h5 { display: inline-block;}
}

.allMsgs li { list-style-type: none; }

// FOOTER /////////////////////////////
.footer-div {
  background: $header-color;
  padding-top: 10px;
  margin: 0 auto;

}


.footer-div div img{
  width: 90%;
  margin: 0 9%;

}
