 // Bourbon & Neat
@import '../bower_components/bourbon/dist/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// TYPOGRAPHY ////////////////////////////////////////////////////////////
//HEADLINES
h1, h2, h3, h4, h5, h6 {
	font-family: "adelle",serif;
	font-style: normal;
	font-weight: 400;
	color: #006666;
}
//BODY COPY
p {
	font-family: "lft-etica",sans-serif;
	font-style: normal;
	font-weight: 200;
}

// COLORS ////////////////////////////////////////////////////////////////
body { background-color: #E9E9E9; }
//$color:	#373F4B;		// rgb (55, 63, 75)

// LOGIN PAGE STYLING ////////////////////////////////////////////////////

//===========================================================
// SET LANGUAGE PAGE
//===========================================================

.set-lang-container {
  width: 85%;
  height: 1000px;
  margin: 0 auto;
  outline: solid red 1px;
}

.list-choice {
  width: 300px;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
}

.list-choice input[type="radio"]{
  position: absolute;
  left :-9999px;
}

.list-choice-title {
  width: 100%;
  display: block;
  background: #D8D8D8;
  text-align: center;
  padding: 0.55em 1em;
  box-sizing: border-box;
  color: #FFF;
  text-shadow: 0 1px 0 #CACACA;
  border-radius: 0.2em;
}

.list-choice:hover .list-choice-title {
  border-radius:0.2em 0.2em 0 0;
}

.list-choice-objects label:nth-last-of-type(1) span{
  border-radius: 0 0 0.2em 0.2em;
}

.list-choice input[type="radio"] + span {
  color: #FFF;
  background: #D8D8D8;
  padding: 0.55em 1em;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
}

.list-choice-objects {
  position: absolute;
  top: 0;
  padding-top: 2.1em;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 250ms ease;
}

.list-choice:hover .list-choice-objects  input[type="radio"] + span {
  position: relative;
  top: 0;
  transition: all 250ms ease-in-out;
}

.list-choice:hover input[type="radio"] + span:hover {
  background:#BBB;
}

.list-choice:hover input[type="radio"]:checked + span:hover {
  background: #74D68E;
}

.list-choice input[type="radio"]:checked + span {
  background: #74D68E;
  position: absolute;
  top: 0em;
  border-radius: 0.2em;
}

.list-choice:hover input[type="radio"]:checked + span {
  border-radius: 0;
}

.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked + span{
  border-radius: 0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
  max-height: 540px;
}

#native-language {
  z-index: 15;
}

#second-language {
  z-index: 14;
}

#second-language-prof {
  z-index: 13;
}

#third-language {
  z-index: 12;
}

#third-language-prof {
  z-index: 11;
}

.set-lang-divider {
  width: 300px;
  border: solid gray 1px;
  margin: 1em auto;
}

//============================================================
// ABOUT ME PAGE
//=============================================================

.about-me-container {
  outline: solid red 1px;
  width: 85%;
  height: 1500px;
  margin: 0 auto;
}

.about-me-header h1 {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  font-size: 60px;
}

.add-image {
  margin: 0 auto;
  width: 20%;
  height: 23%;
  border: solid black 2px;
  border-radius: 50%;
}

.add-image div {
  font-size: 30px;
  color: gray;
  text-align: center;
  margin-top: 60%;
}

.add-image-a {
  text-decoration: none;
}

.info-inputs {
  width: 50%;
  margin: 8% auto;
}

.name-input {
  width: 100%;
  height: 50px;
  margin-bottom: 10%;
}

::-webkit-input-placeholder {
  color: red;
  font-size: 15px;
}

.age-input {
  width: 45%;
  height: 50px;
  margin-right: 9%;
}

.gender-input {
  width: 45%;
  height: 50px;
}

.about-me-div {
  width: 50%;
  margin: 0 auto;
  height: 14%;
}

.about-me-div h1 {
  text-align: center;
}

.about-me-div textarea {
  width: 100%;
  height: 150px;
}

.my-lang-div {
  width: 50%;
  margin: 0 auto;
}

.my-lang-div h1 {
  text-align: center;
}

.each-lang {
  display: inline-block;
  width: 45%;
  height: 120px;
  margin-right: 9%;
  list-style: none;
  padding: 0 3px;
}

.each-lang li {
  border-bottom: solid gray 1px;
  height: 40px;
}

.each-prof {
  padding: 0 3px;
  display: inline-block;
  width: 45%;
  height: 120px;
  list-style: none;
}

.each-prof li {
  border-bottom: solid gray 1px;
  height: 40px;
}

.about-me-done {
  width: 20%;
  margin: 50px auto;
}

.about-me-done button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: solid gray 3px;
  box-shadow: 6px 5px 2px black;
  outline: 0;
}

.about-me-done button:hover {
  background: #757475;
  cursor: pointer;
}

.about-me-done button:active {
  background: yellow;
  margin: 5px 0 0 4px;
  box-shadow: 1px 1px 2px gray;
}

.nonAvatar {
	display: inline-block;
	h5 { display: inline-block;}
}

.allMsgs li { list-style-type: none; }
